#boy-and-organs{
	background:url(../images/09/boy-organ.png);
	position: relative;
	left: -27px;
	top: 0px;
	width: 448px;
	height: 604px;
	-webkit-animation: glow 2s steps(3, end) infinite alternate;
}

@-webkit-keyframes glow {
	from { background-position: 0px; }
	to { background-position: -1344px; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein-2 {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

#malakas-copy{
	position: relative;
	top: -480px;
	left: -3px;
	background:url(../images/09/balance.png);
	width: 401px;
	height: 124px;
}

#immunity-copy{
	position: relative;
	left: 20px;
	top: 50px;
	width: 297px;
	height: 31px;
	background:url(../images/09/digestive-comfort.png);
}

#matibay-copy{
	position:relative;
	left: 20px;
	top: 68px;
	width: 316px;
	height: 88px;
	background:url(../images/09/matibay-copy.png);
}

#sekirov-copy{
	z-index:1;
	position:fixed;
	left:10px;
	bottom:50px;
	width: 942px;
	height: 47px;
	background:url(../images/09/savino.png);
}

#diarrhea-copy{
	visibility:hidden;
	z-index:1;
	position: relative;
	left: 118px;
	top: 43px;
	width: 132px;
	height: 47px;
	background:url(../images/09/DIARRHEA.png);
	-webkit-animation: fadein 2s
}

#pneumonia-copy{
	visibility:hidden;
	z-index:1;
	position: relative;
	left: 150px;
	top: 85px;
	width: 135px;
	height: 74px;
	background:url(../images/09/colic.png);
	-webkit-animation: fadein 2s
}

#ubo-copy{
	visibility:hidden;
	position: relative;
	left: 411px;
	top: -250px;
	width: 193px;
	height: 60px;
	background:url(../images/09/CONSTIPATION.png);
	-webkit-animation: fadein 2s
}

#diarrhea-x-copy{
	visibility:hidden;
	position: relative;
	z-index:2;
	opacity:0.8;
	left: 130px;
	top: -14px;
	width: 85px;
	height: 77px;
	background:url(../images/07/00/ubo-x.png);
	-webkit-animation: fadein-2 2s
}

#pneumonia-x-copy{
	visibility:hidden;
	position: relative;
	z-index:2;
	opacity:0.8;
	left: 194px;
	top: 2px;
	width: 61px;
	height: 105px;
	background:url(../images/07/00/pneumonia-x.png);
	-webkit-animation: fadein-2 2s
}

#ubo-x-copy{
	visibility:hidden;
	position: relative;
	opacity:0.8;
	left: 455px;
	top: -313px;
	width: 85px;
	height: 77px;
	background:url(../images/07/00/ubo-x.png);
	-webkit-animation: fadein-2 2s
}

#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#left{
	width: 330px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:auto;
	height:inherit;
	margin-bottom:20px;
}

