#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#left{
	width: 200px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:600px;
	height:inherit;
	margin-bottom:20px;
}

#angat-copy{
	position: relative;
	top: 190px;
	left: 20px;
	background:url(../images/10/angat.png);
	width: 450px;
	height: 103px;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

#boy{
	background:url(../images/10/boy_sprite.png);
	position:relative;
	top: 0px;
	left: 320px;
	width: 190px;
	height: 517px;
	-webkit-animation: blink-eyes 4.0s steps(2) infinite;
}

#product-button{
	position: fixed;
	right:10px;
	bottom:50px;
	background:url(../images/10/small-btn-products.png);
	width: 60px;
	height: 60px;
}

@-webkit-keyframes blink-eyes {
	from { background-position: 0px; }
	to { background-position: 380px; }
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

