@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "vagRoundedLight";
	src: url("../fonts/VAG Rounded Light.ttf") format('truetype');
}

@font-face {
	font-family: "vagRounded";
	src: url("../fonts/vag-round.ttf") format('truetype');
}

@font-face {
	font-family: "vagRoundedLighter";
	src: url("../fonts/VAGRoundedStd Light.otf");
}

html,body{
	height:100%;
	margin:0px;
	text-align: center;
	background-color: #faffe7;
}

#header{
	width: 100%;
	height: 46px;
	line-height: 46px;
	background-color: #79ac1f;
	color:#faffe7;
	font-family:"vagRoundedLighter";
	font-size: 14px;
}

#footer{
	z-index:10;
	position:fixed;
	left:0px;
  bottom:0px;
  height: 46px;
  line-height: 46px;
  width:100%;
	background-color: #79ac1f;
	color:#faffe7;
	font-family:"vagRoundedLighter";
	font-size: 14px;
}


