#growth-and-brain-copy{
	position: relative;
	top: 	10px;
  left: 10px;
  margin-left:20px;
  margin-top:20px;
	background:url(../images/05/small-growth-and-brain-dev-copy.png);
	width: 317px;
	height: 182px;
	-webkit-animation: fadein 2s
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#organs{
	background:url(../images/05/small-organ-sprite-sheet.png);
	position:relative;
	top:0px;
	left:	10px;
	width: 359px;
	height: 604px;
	-webkit-animation: glow 3s steps(3, end) infinite alternate;
}

@-webkit-keyframes glow {
	from { background-position: 0px; }
	to { background-position: -1077px; }
}

#maganda-copy{
	display:none;
	position: relative;
	top: -309px;
	left: -59px;
	background:url(../images/05/small-maganda-copy.png);
	width: 493px;
	height: 90px;
	-webkit-animation: fadein 2s
}

#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#left{
	width: 350px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:auto;
	height:inherit;
	margin-bottom:20px;
}
