#boy{
	background:url(../images/06/small-boy-bench-sprite.png);
	position:relative;
	top: 21px;
	left: -62px;
	width: 377px;
	height: 604px;
	-webkit-animation: blink-eyes 4.0s steps(2) infinite;
}

@-webkit-keyframes blink-eyes {
	from { background-position: 0px; }
	to { background-position: 756px; }
}

#angat-copy{
	position: relative;
	top: -380px;
	left: 300px;
	background:url(../images/06/small-angat-copy.png);
	width: 435px;
	height: 102px;
	-webkit-animation: fadein 2s
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#one-plus-copy{
	display:none;
	position: relative;
	top: 20px;
	left: 16px;
	background:url(../images/06/small-one-plus-copy.png);
	width: 170px;
	height: 135px;
	-webkit-animation: fadein 2s
}

#two-copy{
	display:none;
	position: relative;
	top: -664px;
	left: 210px;
	background:url(../images/06/small-two-copy.png);
	width: 242px;
	height: 159px;
	-webkit-animation: fadein 2s
}

#product-button{
	position: fixed;
	right:10px;
	bottom:50px;
	background:url(../images/06/small-btn-products.png);
	width: 60px;
	height: 60px;
}

#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#left{
	width: 200px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:600px;
	height:inherit;
	margin-bottom:20px;
}
