#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#sa-matibay-copy{
	display:none;
	position: relative;
	top: 	10px;
  left: 10px;
  margin-left:20px;
  margin-top:20px;
	background:url(../images/04/small-sa-matibay-copy.png);
	width: 300px;
	height: 126px;
	z-index:0;
	-webkit-animation: fadein 2s
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#boy{
	background:url(../images/04/small-boy-sprite-2.png);
	position:relative;
	top:0px;
	left:	10px;
	width: 361px;
	height: 604px;
	-webkit-animation: blink-eyes 2.0s steps(2) infinite;
}

@-webkit-keyframes blink-eyes {
	from { background-position: 0px; }
	to { background-position: 722px; }
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

#digestion-label{
	visibility:hidden;
	z-index:1;
	background:url(../images/04/digestion.png);
	position:relative;
	top: -521px;
	left: -204px;
  width: 142px;
	height: 33px;
	/*-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;*/
}

#growth-label{
	visibility:hidden;
	z-index:1;
	background:url(../images/04/growth.png);
	position:relative;
	top: -366px;
	left: -73px;
  width: 133px;
	height: 37px;
	/*-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;*/
}

#growth-circle{
	/*display:none;*/
	z-index:1;
	background:url(../images/04/growth-circle.png);
	position:relative;
	top: -375px;
	left: -59px;
  width: 213px;
	height: 179px;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

#immunity-circle{
	/*display:none;*/
	z-index:1;
	background:url(../images/04/immunity-circle.png);
	position: relative;
	top: -426px;
	left: -27px;
  width: 194px;
	height: 106px;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

#immunity-label{
	visibility:hidden;
	z-index:1;
	background:url(../images/04/immunity.png);
	position:relative;
	top: -454px;
	left: -33px;
  width: 67px;
	height: 40px;
	/*-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;*/
}

#immune-cell-label{
	visibility:hidden;
	z-index:1;
	background:url(../images/04/immune-cells.png);
	position:relative;
	top: -454px;
	left: -125px;
  width: 127px;
	height: 10px;
	/*-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;*/
}

#digestive-circle{
	/*display:none;*/
	z-index:1;
	background:url(../images/04/digestive-circle.png);
	position:relative;
	top: -746px;
	left: 204px;
  width: 242px;
	height: 112px;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

#digestive-label{
	visibility:hidden;
	z-index:1;
	background:url(../images/04/digestive.png);
	position:relative;
	top: -656px;
	left: 372px;
  width: 92px;
	height: 112px;
	/*-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;*/
}

#balance-label{
	visibility:hidden;
	z-index:1;
	background:url(../images/04/balance.png);
	position:relative;
	top: -744px;
	left: 382px;
  width: 104px;
	height: 25px;
	/*-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;*/
}

#left{
	width: 330px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:auto;
	height:inherit;
	margin-bottom:20px;
}

