#boy-and-organs{
	background:url(../images/07/00/boy-and-organs.png);
	position: relative;
	left: -83px;
	top: 0px;
	width: 633px;
	height: 604px;
	-webkit-animation: glow 2s steps(3, end) infinite alternate;
}

@-webkit-keyframes glow {
	from { background-position: 0px; }
	to { background-position: -1903px; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein-2 {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

#malakas-copy{
	position: relative;
	top: -450px;
	left: 67px;
	background:url(../images/07/00/malakas-copy.png);
	width: 338px;
	height: 96px;
}

#immunity-copy{
	position: relative;
	left: 20px;
	top: 50px;
	width: 164px;
	height: 30px;
	background:url(../images/07/00/immunity-copy.png);
}

#matibay-copy{
	position:relative;
	left: 20px;
	top: 68px;
	width: 316px;
	height: 89px;
	background:url(../images/07/00/matibay-copy.png);
}

#sekirov-copy{
	position:fixed;
	left:10px;
	bottom:50px;
	width: 247px;
	height: 33px;
	background:url(../images/07/00/sekirov-copy.png);
}

#diarrhea-copy{
	visibility:hidden;
	z-index:1;
	position: relative;
	left: 218px;
	top: 43px;
	width: 122px;
	height: 94px;
	background:url(../images/07/00/diarrhea-copy.png);
	-webkit-animation: fadein 2s
}

#pneumonia-copy{
	visibility:hidden;
	z-index:1;
	position: relative;
	left: 250px;
	top: 55px;
	width: 153px;
	height: 95px;
	background:url(../images/07/00/pneumonia-copy.png);
	-webkit-animation: fadein 2s
}

#ubo-copy{
	visibility:hidden;
	position: relative;
	left: 414px;
	top: -450px;
	width: 62px;
	height: 37px;
	background:url(../images/07/00/ubo-copy.png);
	-webkit-animation: fadein 2s
}

#diarrhea-x-copy{
	visibility:hidden;
	position: relative;
	z-index:2;
	opacity:0.8;
	left: 249px;
	top: -41px;
	width: 50px;
	height: 98px;
	background:url(../images/07/00/diarrhea-x.png);
	-webkit-animation: fadein-2 2s
}

#pneumonia-x-copy{
	visibility:hidden;
	position: relative;
	z-index:2;
	opacity:0.8;
	left: 300px;
	top: -43px;
	width: 61px;
	height: 105px;
	background:url(../images/07/00/pneumonia-x.png);
	-webkit-animation: fadein-2 2s
}

#ubo-x-copy{
	visibility:hidden;
	position: relative;
	opacity:0.8;
	left: 395px;
	top: -502px;
	width: 85px;
	height: 77px;
	background:url(../images/07/00/ubo-x.png);
	-webkit-animation: fadein-2 2s
}

#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#left{
	width: 330px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:auto;
	height:inherit;
	margin-bottom:20px;
}

