#container{
  width:inherit;
	/*height: 100%;*/
  margin:0px 10% 5px 10%;
  font-family:"vagRoundedLighter";
	font-size: 12px;
	color:#3faa69;
}

#intro-title{
	margin-top: 34px;
	font-family:"vagRoundedLighter";
	font-size: 13px;
	color:#008d3f;
}

p {
	margin-top:20px;
	text-align:justify;
}

p b {
	color:#008d3f;
}

#mother-child-img img{
	width: 100%;
	height: 100%; 
	margin-top:10px;
	margin-bottom:50px;
}
