#container{
  width:inherit;
	/*height: 100%;*/
  margin:0px 10% 5px 10%;
  font-family:"vagRoundedLight";
	font-size: 12px;
	color:#3faa69;
}

h1{
	text-align:left;
	font-family: Arial;
	font-size: 20px;
	color:#008d3f;
}

p.description{
	margin-top:-10px;
	text-align:left;
	font-family: Arial;
	font-size: 20px;
	color:#008d3f;
}


#logo-img img{
	margin-top:30px;
	margin-bottom:50px;
}

#spacer{
	height:50px;
	width:inherit;
}
