#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#sa-tyan-copy{
	position: relative;
	top: 	10px;
  left: 10px;
  margin-left:40px;
  margin-top:20px;
	background:url(../images/03/small-sa-tyan-copy.png);
	width: 200px;
	height: 123px;
	z-index:0;
	-webkit-animation: fadein 4s
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#boy{
	z-index:1;
	background:url(../images/03/small-boy-sprite.png);
	position:relative;
	top:0px;
	left:	10px;
	width: 361px;
	height: 604px;
	-webkit-animation: lift-shirt 1.0s steps(1) forwards, 4.0s blink-eyes 2.0s steps(2) infinite;
}

@-webkit-keyframes lift-shirt {
	from { background-position: 0px; }
	to { background-position: 361px; }
}

@-webkit-keyframes blink-eyes {
	from { background-position: 361px; }
	to { background-position: 1083px; }
}

#digestive-organ{
	display:none;
	background:url(../images/03/small-digestive-organ.png);
	position:relative;
	z-index: 2;
	top: -345px;
	left: -202px;
  width: 750px;
	height: 315px;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

#left{
	width: 300px;
	float: left;
	height:inherit;
}

#right{
	float: left;
	width:600px;
	height:inherit;
	margin-bottom:20px;
	margin-left:20px;
}

