#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#top{
	padding-top:20px;
	width:966px;
	height:201px;
}

#mid{
	width:inherit;
	margin-top:-30px;
	height:474px;
}

#nestogen-copy{
	display:none;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}