#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#top{
	padding-top:50px;
	width:966px;
	height:75px;
}

#mid{
	width:inherit;
	height:264px;
}

#nestogen-copy{
	position:relative;
	top:-20px;
}

#bottom{
	text-align:center;
	width:100%;
	height:180px;
	margin-top:200px;
	padding-left: 10px;
	position:fixed;
	bottom:40px;
	background-color: #e6e6e6;
}

#materials-copy{
	margin-top:10px;
}

#home-button{
	z-index:1;
	position: fixed;
	right:10px;
	bottom:50px;
	background:url(../images/16/home-icon.png);
	width: 60px;
	height: 60px;
}
