#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#check{
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#x-button{
	position: fixed;
	right:	20px;
	top: 20px;
	width: 54px;
	height: 54px;
	background:url(../images/15/x-button.png);
}