#parent{
	width:100%;
	text-align: center;
}

#container{
  width:966px;
  height:604px;
  margin:0px auto;
}

#top{
	padding-top:50px;
	width:966px;
	height:142px;
}

#mid{
	margin-top:-50px;
	width:inherit;
	height:474px;
}

#bottom{
	text-align:left;
	width:inherit;
	height:10px;
	margin-top:-60px;
	padding-left: 10px;
	position:fixed;
	left:10px;
	bottom:60px;
}

#kapag-copy{
	display:none;
	-webkit-animation-name: zoomIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.75s;
}

@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}