#lungs{
	background:url(../images/07/01/lungs-sprite.png);
	position:relative;
	left:	150px;
	top: 0px;
	width: 700px;
	height: 604px;
	-webkit-animation: glow 2s steps(3, end) infinite alternate;
}

@-webkit-keyframes glow {
	from { background-position: 0px; }
	to { background-position: -2100px; }
}

#papasok-copy{
	position: absolute;
	left:	350px;
	top: 20px;
	width: 272px;
	height: 79px;
	background:url(../images/07/01/papasok-copy.png);
	-webkit-animation: fadein 2s
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#x-button{
	position: fixed;
	right:	20px;
	top: 20px;
	width: 46px;
	height: 45px;
	background:url(../images/07/01/x-button.png);
}

#bact-1{
	position: absolute;
	left:	250px;
	top: 160px;
	width: 21px;
	height: 15px;
	background:url(../images/07/01/1.png);
	-webkit-animation: anim2 ease-in-out 3s infinite alternate;
}

@-webkit-keyframes anim2
{
   from {left: 0px;   -webkit-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 250px; -webkit-transform: scale(0.8) rotate(10deg)  }
   to   {left: 500px; -webkit-transform: scale(1.2) rotate(-20deg) }
}

